body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: hsla(233, 79%, 11%, 0.836);
    color: white;
    align-items: center;
    padding: 15px;
}

h1 {
    font-size: 300%;
}

ul {
    list-style: none;
}

header a, .ctcMe a {
    color: white;
    text-decoration: none;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 230px;
}

.subtitle {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    background-color: grey;
}

.subtitle img {
    max-width: 200px;
}

h2 {
    font-size: 250%
}
h3 {
    font-size: 200%
}
.abtMeContent {
    background-color: purple;
    color: green;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.workContent {
    background-color: black;
    color: green;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 3px;
    padding-right: 1500px;
}
.ctcMeContent {
    background-color: red;
    color: green;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 3px;
}
.ctcMeContent nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 1000px;
    align-items: center;
}
.ctcMeContent nav {
    display: flex;
    justify-content: space-around;
    width: 75%;
}